  <div>
    <mat-toolbar color="red">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawerList.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Customer Managment System</span>
      
      <span class="example-spacer"></span>
      <button routerLink="" mat-button><mat-icon>home</mat-icon>Home</button>
      <button mat-button><mat-icon>contact</mat-icon>Contact</button>
      <button mat-button><mat-icon>info</mat-icon>About</button>
    </mat-toolbar>
    
  </div>
  <div>
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawerList opened="true" class="example-sidenav" mode="side">
        <mat-nav-list>
           <mat-list-item>
            <button mat-button routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</button>  
           </mat-list-item>
           <mat-list-item>
            <button mat-button routerLink="login"><mat-icon>verified_user</mat-icon>Login</button> 
           </mat-list-item>
           <mat-list-item>
            <button mat-button routerLink="dashboard"><mat-icon>settings</mat-icon>Settings</button>  
           </mat-list-item>
           <mat-list-item>
            <button mat-button routerLink="dashboard"><mat-icon>help</mat-icon>Help</button>  
           </mat-list-item>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content >
       <div class="example-sidenav-content">
        <router-outlet></router-outlet>
       </div>
      </mat-drawer-content>
    </mat-drawer-container>
    
  </div>
  
  
  
